<li>
  <h4><%=link_to answer.content, question_answer_path(@question, answer)%></h4> by <%= answer.user.email %>
  <% if user_signed_in? and current_user.id == answer.user_id %>
  		<%= link_to 'Edit', edit_question_answer_path(@question, answer) %>	
      | <%= button_to question_answer_path(@question, answer), method: :delete, 
								data: { confirm: "You sure?" }, class: 'btn-link' do %>
		Delete
	<% end %>				  
  <% end %>
</li>